<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bucket List</a>
    </div>
    <div class="nav navbar-nav">
      <a routerLink='/'><button class="btn btn-default">Home</button></a>
      <a routerLink='/user'><button class="btn btn-default">Login</button></a>
      <a routerLink='/user/new'><button class="btn btn-default">Register</button></a>
      <a routerLink='/goal'><button class="btn btn-default">Goals</button></a>
      <a routerLink='/goal/new'><button class="btn btn-default">Create a Goal</button></a>
    </div>
  </div>
</nav>
